/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #f8f9fa;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1360px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  padding-top: 29px;
  padding-bottom: 29px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
}

.header__body {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__search {
  margin-left: 17px;
}

.header__social-list {
  margin-left: 17px;
  padding-right: 17px;
}
.header__social-list::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 20px;
  border-right: 0.5px solid #e5e5e5;
}

.navigation-list {
  position: relative;
  display: flex;
  padding-right: 17px;
}
.navigation-list::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 20px;
  border-right: 0.5px solid #e5e5e5;
}

.navigation-list__item {
  display: flex;
}
.navigation-list__item:not(:last-child) {
  margin-right: 25px;
}

.navigation-list__link {
  position: relative;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  color: #e5e5e5;
  transition: all 0.6s ease;
}
.navigation-list__link:hover, .navigation-list__link:focus {
  color: #d4a373;
}

.navigation-list__link--current {
  color: #fff;
}
.navigation-list__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #d4a373;
}

.logo {
  width: 69px;
  height: 22px;
}

.social-list {
  position: relative;
  display: flex;
}

.social-list__item {
  display: flex;
}
.social-list__item:not(:last-child) {
  margin-right: 18px;
}

.social-list__link {
  display: inline-flex;
  height: 100%;
}
.social-list__link:hover .icon, .social-list__link:focus .icon {
  fill: #d4a373;
}

.search {
  display: flex;
  align-items: center;
}
.search:hover, .search:focus .icon {
  fill: #d4a373;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #e5e5e5;
  transition: all 0.6s ease;
}

.hero {
  padding-bottom: 140px;
  padding-top: 275px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hero/hero.jpg);
}

.hero__tag {
  margin-bottom: 15px;
}

.hero__primary-title {
  margin-bottom: 15px;
}

.hero__body {
  width: 100%;
  max-width: 530px;
}

.hero__text-wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__text {
  height: -moz-fit-content;
  height: fit-content;
  font-family: Lora, sans-serif;
  font-size: 12px;
  line-height: 1.7;
  color: #e5e5e5;
}

.hero__text--divider {
  position: relative;
  margin-right: 10px;
  padding-right: 41px;
}
.hero__text--divider::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #e5e5e5;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tag {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  max-width: 77px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
}

.primary-title {
  font-family: Lora, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.secondary-title {
  font-family: Lora, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  color: #495057;
}

.topics {
  padding-top: 150px;
  padding-bottom: 150px;
}

.topics__secondary-title {
  margin-bottom: 30px;
}

.switcher-list {
  display: flex;
  margin-bottom: 30px;
}

.switcher-list__item:not(:last-child) {
  margin-right: 20px;
}

.switcher-list__button {
  font-family: Lora, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  color: #495057;
  transition: all 0.6s ease;
}
.switcher-list__button:hover, .switcher-list__button:focus {
  color: #d4a373;
}

.switcher-list__button--current {
  color: #d4a373;
}

.switcher-list .switcher-list__item--margin {
  margin-right: auto;
}

.topics-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 20px;
}

.topics-card {
  background-color: #fff;
  border-radius: 5px;
  width: 310px;
  max-height: 565px;
}

.topics-card__image-wrapper {
  position: relative;
}

.topics-card__image {
  border-radius: 5px;
}

.topics-card__tag:not(:last-child) {
  margin-right: 10px;
}

.topics-card__tag-wrapper {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}

.topics-card__content-wrapper {
  padding: 20px;
}

.topics-card__date {
  margin-bottom: 15px;
  font-family: Lora, sans-serif;
  font-size: 12px;
  line-height: normal;
  color: #6c757d;
}

.topics-card__title {
  margin-bottom: 15px;
  font-family: Lora, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  color: #495057;
}

.topics-card__description {
  position: relative;
  padding-bottom: 19.8px;
  margin-bottom: 20px;
  font-family: Lora, sans-serif;
  font-size: 12px;
  line-height: 1.7;
  color: #6c757d;
}
.topics-card__description::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  position: absolute;
  bottom: 0;
  left: 0;
}

.topics-card__author-wrapper {
  display: flex;
  align-items: center;
}

.topics-card__author-avatar {
  margin-right: 17px;
}

.topics-card__author-name {
  font-family: Lora, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  color: #495057;
}

.topics-card__author-position {
  font-family: Lora, sans-serif;
  font-size: 12px;
  line-height: 1.7;
  color: #6c757d;
}

.photos {
  padding-bottom: 178px;
  padding-top: 177px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/photos/photos.jpg);
}

.photos__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos__tag {
  margin-bottom: 24px;
}

.photos__primary-title {
  margin-bottom: 13px;
  max-width: 530px;
  text-align: center;
}

.photos__description {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 24px;
  max-width: 420px;
  text-align: center;
  font-family: Lora, sans-serif;
  font-size: 12px;
  line-height: 1.7;
  color: #e5e5e5;
}
.photos__description::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 30px;
  height: 1px;
  background-color: #e5e5e5;
}

.photos__date {
  font-family: Lora, sans-serif;
  font-size: 12px;
  line-height: normal;
  color: #e5e5e5;
}

.editors {
  padding-top: 150px;
  padding-bottom: 150px;
}

.editors__secondary-title {
  margin-bottom: 70px;
}

.editors-cards-container {
  display: flex;
}

.editors-card {
  position: relative;
  width: 420px;
  max-height: 350px;
}
.editors-card:not(:last-child) {
  margin-right: 20px;
}

.editors-card__tag {
  position: absolute;
  right: 20px;
  top: 20px;
}

.editors-card__date {
  margin-bottom: 15px;
  font-family: Lora, sans-serif;
  font-size: 12px;
  line-height: normal;
  color: #e5e5e5;
}

.editors-card__title {
  margin-bottom: 15px;
  font-family: Lora, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
}

.editors-card__description {
  font-family: Lora, sans-serif;
  font-size: 12px;
  line-height: 1.7;
  color: #e5e5e5;
}

.editors-card__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px 20px 42px 40px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  background-color: #212529;
}

.footer__container {
  display: flex;
  padding-top: 106px;
  padding-bottom: 106px;
}

.footer-list {
  max-width: 188px;
}

.footer-list--ml {
  margin-left: 142px;
}

.footer-social-list-wrapper {
  margin-left: 216px;
}

.footer-title {
  font-family: Lora, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
}

.footer-list__item--margin-bottom {
  margin-bottom: 16px;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 18px;
}

.footer-list__link {
  font-family: Lora, sans-serif;
  font-size: 12px;
  line-height: normal;
  color: #e5e5e5;
  transition: all 0.6s ease;
}
.footer-list__link:hover, .footer-list__link:focus {
  color: #d4a373;
}

.adress-wrapper {
  margin-left: 229px;
}

.adress {
  margin-top: 15px;
}

.address__text {
  font-style: normal;
  max-width: 114px;
  font-family: Lora, sans-serif;
  font-size: 12px;
  line-height: 1.7;
  color: #e5e5e5;
}

.footer__social-list {
  margin-top: 15px;
}

.sub-footer {
  width: 100%;
  padding-top: 41px;
  padding-bottom: 41px;
  background-color: #343a40;
}

.sub-footer__container {
  display: flex;
  justify-content: space-between;
}

.sub-footer__text {
  font-family: Lora, sans-serif;
  font-weight: 700;
  line-height: normal;
  color: #e5e5e5;
}

.sub-footer__link {
  font-family: Lora, sans-serif;
  line-height: normal;
  color: #e5e5e5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.5px #000000;
  transition: all 0.6s ease;
}
.sub-footer__link:hover, .sub-footer__link:focus {
  color: #d4a373;
}/*# sourceMappingURL=main.css.map */