.editors-cards-container {
    display: flex;
}

.editors-card {
    position: relative;
    width: 420px;
    max-height: 350px;

    &:not(:last-child) {
        margin-right: 20px;
    }
}

.editors-card__tag {
    position: absolute;
    right: 20px;
    top: 20px;
}

.editors-card__date {
    margin-bottom: 15px;

    @include font($primaryFont, $fontSizeSm, null, normal);
    color: $secondaryColor;
}

.editors-card__title {
    margin-bottom: 15px;

    @include font($primaryFont, $fontSizeL, $fontWeightBold, 1.4);
    color: $primaryColor;
}

.editors-card__description {
    @include font($primaryFont, $fontSizeSm, null, 1.7);
    color: $secondaryColor;
}

.editors-card__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: 20px 20px 42px 40px;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}
