.footer {
    background-color: #212529;
}

.footer__container {
    display: flex;

    padding-top: 106px;
    padding-bottom: 106px;
}

.footer-list {
    max-width: 188px;
}

.footer-list--ml {
    margin-left: 142px;
}

.footer-social-list-wrapper {
    margin-left: 216px;
}

.footer-title {
    @include font($primaryFont, $fontSizeL, $fontWeightBold, 1.4);
    color: $primaryColor;
}

.footer-list__item--margin-bottom {
    margin-bottom: 16px;
}

.footer-list__item {
    &:not(:last-child) {
        margin-bottom: 18px;
    }
}

.footer-list__link {
    @include font($primaryFont, $fontSizeSm, null, normal);
    color: $secondaryColor;

    transition: $primaryTransition;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.adress-wrapper {
    margin-left: 229px;
}

.adress {
    margin-top: 15px;
}

.address__text {
    font-style: normal;

    max-width: 114px;

    @include font($primaryFont, $fontSizeSm, null, 1.7);
    color: $secondaryColor;
}

.footer__social-list {
    margin-top: 15px;
}
