.header {
    position: fixed;
    width: 100%;

    padding-top: 29px;
    padding-bottom: 29px;
    z-index: 99;

    background-color: $headerBgColor;
}

.header__body {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: auto;
}

.header__search {
    margin-left: 17px;
}

.header__social-list {
    margin-left: 17px;

    padding-right: 17px;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 20px;
        border-right: 0.5px solid $secondaryColor;
    }
}
