.hero {
    padding-bottom: 140px;
    padding-top: 275px;

    background-repeat: no-repeat;
    background-size: cover;

    background-image: url(../images/hero/hero.jpg);
}

.hero__tag {
    margin-bottom: 15px;
}

.hero__primary-title {
    margin-bottom: 15px;
}

.hero__body {
    width: 100%;
    max-width: 530px;
}

.hero__text-wrapper {
    display: flex;
    justify-content: space-between;
}

.hero__text {
    height: fit-content;

    @include font($primaryFont, $fontSizeSm, null, 1.7);

    color: $secondaryColor;
}

.hero__text--divider {
    position: relative;

    margin-right: 10px;

    padding-right: 41px;

    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: $secondaryColor;

        right: 0;
        top: 50%;

        transform: translateY(-50%);
    }
}
