.navigation-list {
    position: relative;
    display: flex;

    padding-right: 17px;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 20px;
        border-right: 0.5px solid $secondaryColor;
    }
}

.navigation-list__item {
    display: flex;

    &:not(:last-child) {
        margin-right: 25px;
    }
}

.navigation-list__link {
    position: relative;

    @include font($secondaryFont, $fontSizeSm, $fontWeightBold, normal);

    color: $secondaryColor;

    transition: $primaryTransition;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.navigation-list__link--current {
    color: $primaryColor;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;

        width: 100%;
        height: 2px;

        background-color: $accentColor;
    }
}
