.photos {
    padding-bottom: 178px;
    padding-top: 177px;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/photos/photos.jpg);
}

.photos__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photos__tag {
    margin-bottom: 24px;
}

.photos__primary-title {
    margin-bottom: 13px;

    max-width: 530px;

    text-align: center;
}

.photos__description {
    position: relative;

    margin-bottom: 15px;
    padding-bottom: 24px;

    max-width: 420px;

    text-align: center;

    @include font($primaryFont, $fontSizeSm, null, 1.7);

    color: $secondaryColor;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;

        width: 30px;
        height: 1px;

        background-color: $secondaryColor;
    }
}

.photos__date {
    @include font($primaryFont, $fontSizeSm, null, normal);

    color: $secondaryColor;
}
