.social-list {
    position: relative;
    display: flex;
}
.social-list__item {
    display: flex;

    &:not(:last-child) {
        margin-right: 18px;
    }
}

.social-list__link {
    display: inline-flex;
    height: 100%;
    &:hover .icon,
    &:focus .icon {
        fill: $accentColor;
    }
}
