.sub-footer {
    width: 100%;
    padding-top: 41px;
    padding-bottom: 41px;

    background-color: #343a40;
}

.sub-footer__container {
    display: flex;
    justify-content: space-between;
}

.sub-footer__text {
    @include font($primaryFont, null, $fontWeightBold, normal);
    color: $secondaryColor;
}

.sub-footer__link {
    @include font($primaryFont, null, null, normal);
    color: $secondaryColor;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 0.5px #000000;

    transition: $primaryTransition;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}
