.switcher-list {
    display: flex;
    margin-bottom: 30px;
}

.switcher-list__item {
    &:not(:last-child) {
        margin-right: 20px;
    }
}

.switcher-list__button {
    @include font($primaryFont, $fontSizeSm, $fontWeightBold, 2);
    color: $tertiaryColor;

    transition: $primaryTransition;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.switcher-list__button--current {
    color: $accentColor;
}

.switcher-list .switcher-list__item--margin {
    margin-right: auto;
}
