.tag {
    @include font($secondaryFont, $fontSizeXs, $fontWeightBold, normal);

    text-align: center;
    max-width: 77px;

    color: $primaryColor;

    padding: 5px 10px;

    border-radius: 8px;

    background: $tagBgColor;
}
