.topics-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 20px;
}

.topics-card {
    background-color: $primaryColor;
    border-radius: 5px;
    width: 310px;
    max-height: 565px;
}

.topics-card__image-wrapper {
    position: relative;
}

.topics-card__image {
    border-radius: 5px;
}

.topics-card__tag {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.topics-card__tag-wrapper {
    display: flex;

    position: absolute;
    top: 20px;
    right: 20px;
}

.topics-card__content-wrapper {
    padding: 20px;
}

.topics-card__date {
    margin-bottom: 15px;

    @include font($primaryFont, $fontSizeSm, null, normal);
    color: $quaternaryColor;
}

.topics-card__title {
    margin-bottom: 15px;

    @include font($primaryFont, $fontSizeL, $fontWeightBold, 1.4);
    color: $tertiaryColor;
}

.topics-card__description {
    position: relative;
    padding-bottom: 19.8px;
    margin-bottom: 20px;

    @include font($primaryFont, $fontSizeSm, null, 1.7);
    color: $quaternaryColor;

    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $secondaryColor;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.topics-card__author-wrapper {
    display: flex;
    align-items: center;
}

.topics-card__author-avatar {
    margin-right: 17px;
}

.topics-card__author-name {
    @include font($primaryFont, $fontSizeSm, $fontWeightBold, 1.7);
    color: $tertiaryColor;
}

.topics-card__author-position {
    @include font($primaryFont, $fontSizeSm, null, 1.7);
    color: $quaternaryColor;
}
