$primaryColor: #fff;
$secondaryColor: #e5e5e5;
$tertiaryColor: #495057;
$quaternaryColor: #6c757d;

$accentColor: #d4a373;

$headerBgColor: rgba(0, 0, 0, 0.2);
$tagBgColor: rgba(255, 255, 255, 0.15);

$primaryFont: Lora, sans-serif;
$secondaryFont: Roboto, sans-serif;

$fontSizeXs: 10px;
$fontSizeSm: 12px;
$fontSizeL: 18px;
$fontSizeXl: 36px;

$fontWeightBold: 700;

$primaryTransition: all 0.6s ease;
